/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/assets/images/wedding.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: contrast();

}

.hero {
  min-height: 100vh;
  /* background-color: var(--bg); */
  position: relative;
}

.hero h1 {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: chocolate;
}

.hero h4 {
  font-size: 1.6rem;
  color: black;
}

.hero p {
  font-size: 1.4rem;
  color: black;
}


.main a {
  color: white;
  background-color: var(--pink);
}

.main a:hover {
  color: var(--pink);
  background-color: white;
}

.timerCountdownContainer {
  text-align: center;
}

.timerCountdown {
  display: flex;
  justify-content: center;
}

.timerCountdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.timerCountdown span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.timerCountdown span:last-child {
  font-size: 20px;
  font-weight: normal;
  padding-top: 10px;
}

.timerCountdown span:first-child {
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0 / 0.1);
  /* box-shadow: var(--shadow); */
  color: white;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
  font-family: 'Sacramento', cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link{
  font-weight: 600;
  font-size: 1.2rem;
}


.offcanvas-body .navbar-nav .nav-link{
  color: rgb(82, 76, 76);
}

.offcanvas-body .navbar-nav .nav-link:hover{
  color: var(--pink);
}

.home{
  background-image: url(../public/assets/images/ring.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.5rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.mynavbar{
  /* background-color: rgba(255, 255, 255, 0,3) !important;
  backdrop-filter: blur(4px); */
}

.mynavbar .offcanvas{
  height: 100vh;
  background-color: rgba(255, 255, 255, 0,3) !important;
  backdrop-filter: blur(4px);
}





/* Media Query */

/* Laptop */
@media (max-width : 992px) {
  html {
    font-size: 75%;
  }
}


/* Tablet */
@media(max-width : 768px) {
  html {
    font-size: 65%;
  }

  .mynavbar .nav-link{
    font-size: 1.8rem;
    text-align: center;
  }

}


/* Mobile Phone */
@media(max-width: 576px) {
  html {
    font-size: 60%;
  }
}